$firstCardColor1: #00a5a9;
$firstCardColor2: #4acacd;
$secondCardColor1: #ff6a7f;
$secondCardColor2: #ff9daa;
$thirdCardColor1: #ff976a;
$thirdCardColor2: #ffc1a2;
$forthCardColor1: #11ca87;
$forthCardColor2: #5bdfb7;

$light-blue: #40a9ff;
$btn-red: #c15858;
$dark-green: #398415;

$completed-ticket: #43b73e;
$pending-ticket: rgb(226, 109, 58);
$inProgress-ticket: #096dd9;

$equinox-color: #5475ba;

$white: #fff;

$btn-red2: #d26a5c;
$active-yes: #46c37b;
