.main-header {
  .align-content {
    display: flex;
    justify-content: space-between;
    .color-white {
      color: #fff;
      font-size: 18px;
    }
    .align-dropdown {
      color: white;
      display: flex;
      align-items: center;
      .dropdown-style {
        width: 200px;
        margin-right: 15px;
      }
      .customer-title {
        font-size: 15px;
        margin-right: 5px;
      }
    }
    .align-account-logo {
      color: #000;
      background: #fff;
      height: 32px;
      width: 32px;
      border-radius: 3px;
      .popover-style {
        margin-top: 8px;
        cursor: pointer;
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .anticon {
          line-height: 2 !important;
        }
        .caret {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 4px dashed;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
        }
      }
    }
  }
  .margin-right-5 {
    margin-right: 5px;
  }
}
.main-header-content-menu {
  .ant-menu-vertical {
    border-right: none !important;
  }
  .popover-text {
    color: #000;
  }
  .popover-text > .anticon {
    color: red;
  }
}
