.reports-container {
  .download-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .margin-right-5 {
      margin-right: 5px;
    }
  }
  .form-style {
    width: 95%;
    float: right;
    .select-width {
      width: 12.5vw;
    }
  }
}
